<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="input-core(fieldName, text, formType, class, type)" th:remove="tag">
  <input th:type="${type}" th:for="${fieldName}" th:id="${fieldName}" th:name="${fieldName}"
         th:field="*{__${fieldName}__}"
         th:class="${class}"
         th:placeholder="${text}"
         th:disabled="${formType}"/>
</div>

<div th:fragment="input-disable-option(fieldName, text, formType)">
  <div
      th:replace=" :: input-disable-option-custom-class(${fieldName}, ${text}, ${formType}, 'form-control mb-4', 'text')"
      th:remove="tag"></div>
</div>

<div th:fragment="input-disable-option-custom-class(fieldName, text, formType, class, type)">
  <div th:replace=" :: input-core(${fieldName}, ${text}, ${formType},${class},${type})"
       th:remove="tag"></div>
</div>

<div th:fragment="input-pure(fieldName, text)">
  <div th:replace=" :: input-disable-option(${fieldName}, ${text}, false)" th:remove="tag"></div>
</div>

<div th:fragment="input-form(fields, formType)">

  <fieldset>
    <th:block th:each="field : ${fields}" th:remove="tag">

      <div
          th:replace=" :: input-disable-option(${field}, #{__${'text.' + field}__}, ${formType})"
          th:remove="tag">...
      </div>

    </th:block>

  </fieldset>
</div>

<div th:fragment="input-group-answer(fieldName, radioFieldName, idFieldName, text, formType, checkboxId, deleteLinkAction, prependText)">
  <div class="input-group m-2">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <span class="p-1" id="inputGroup-sizing-sm" th:text="#{text.correct}"></span>
        <input type="checkbox" class="answer-checkbox" th:field="*{__${radioFieldName}__}" aria-label="Radio button for following text input"
               th:value="*{__${radioFieldName}__}" th:disabled="${formType}" th:id="${checkboxId}">
      </div>
      <div class="input-group-text">
        <span th:text="${prependText + '.'}"></span>
      </div>
    </div>

    <input type="hidden" th:field="*{__${idFieldName}__}">

    <input type="text" th:field="*{__${fieldName}__}" th:placeholder="${text}" class="form-control input-answer"
           aria-label="Text input with radio button" th:disabled="${formType}">

    <div class="input-group-append" th:if="${!formType}">
      <a class="btn btn-outline-secondary input-group-text" th:href="@{${deleteLinkAction}}" th:text="#{button.delete.answer}"></a>
    </div>
  </div>
</div>