<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">

<div th:fragment="navbar(currentURL)">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{'/'}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center order-2" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <!--        <li class="nav-item" th:each="url : ${navBarList}"-->
        <!--            th:classappend="${currentURL == url.second} ? 'active'">-->
        <!--          <a class="nav-link" th:text="${url.first}" th:href="${url.second}"></a>-->
        <!--        </li>-->
      </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end order-3">
      <div sec:authorize="isAuthenticated()">
        <a class="navbar-brand" th:href="@{/logout}" th:text="#{text.logout}">Log out</a>
      </div>
      <div sec:authorize="isAnonymous()">
        <a class="navbar-brand" th:href="@{/login}" th:text="#{text.login}"></a>
      </div>
    </div>
  </nav>
</div>

<!--<div th:fragment="navbar(currentURL)">-->
<!--  <th:block th:replace=" :: navbar-core(${currentURL}, true)">...</th:block>-->
<!--</div>-->

<!--<div th:fragment="navbar-logged(currentURL, isLoggedIn)">-->
<!--  <th:block th:replace=" :: navbar-core(${currentURL}, ${isLoggedIn})">...</th:block>-->
<!--</div>-->