<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Access denied</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="/css/index.css"/>
</head>
<body class="error-page">
<div class="" style="">
  <h3>
    Redirecting to <a th:href="@{'/'}">Home</a> after <span id="countdown">5</span> seconds
  </h3>
</div>
<script type="text/javascript">

  var seconds = 5;

  function countdown() {
    seconds = seconds - 1;
    if (seconds < 0) {
      window.location.href = "/";
    } else {
      document.getElementById("countdown").innerHTML = seconds;
      window.setTimeout("countdown()", 1000);
    }
  }

  countdown();
</script>
</body>
</html>