<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{__${'title.' + name + '.' + formType}__}"></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="/js/custom.js"></script>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
</head>

<body>

<div th:replace="fragments/title :: title" th:remove="tag"></div>

<div th:replace="fragments/nav :: navbar(${#httpServletRequest.requestURI})"
     th:remove="tag"></div>

<div class="col-lg-7 col-md-12 mb-4 p-5 mx-auto">

  <div id="new-result-form" class="text-center border border-light p-5 indigo.accent-1 shadow-lg">
    <p class="h2 mb-4" th:text="#{__${'title.main.' + name + '.' + formType}__}">...</p>

    <div class="question-container">
      <form th:object="${result}" th:action="@{__${linkAction + '{id}'}__(id=*{id})}" method="post">

        <div
            th:replace="fragments/input :: input-disable-option('question', #{text.question},
                                           ${formType == 'view'})"
            th:remove="tag">...
        </div>

        <div th:each="ans, iter : *{answers}">

          <div
              th:replace="fragments/input :: input-group-radio('answers[__${iter.index}__].answer',
                                             'answers[__${iter.index}__].correctAnswer',
                                             'answers[__${iter.index}__].id',
                                             #{text.answer}, ${formType == 'view'},
                                             ${iter.index + '-correctAnswer'})"
              th:remove="tag">...
          </div>
        </div>

        <div th:id="edit-name-button" class="d-flex justify-content-center pt-2"
             th:if="${formType != 'view'}">

          <button class="btn btn-info m-2 w-75" type="submit"
                  th:text="#{${'button.' + name + '.submit.' + formType}}">...
          </button>

          <a class="btn btn-info m-2 w-75" th:if="${addAnswerAvailable}"
             th:text="#{${'button.' + name + '.addAnswer.' + formType}}"
              th:href="@{__${addAnswerLink + '{id}'}__(id=*{id})}">...
          </a>
        </div>

      </form>
    </div>

    <div th:if="${formType != 'view'}" class="d-flex w-100 px-3 pt-2">
      <div class="w-100">
        <a class="btn btn-info m-2 w-75" th:text="#{button.cancel}" th:href="${homeUri}">
          ...
        </a>
      </div>
      <div class="w-100">
        <a class="btn btn-info m-2 w-75" th:text="#{button.done}" th:href="${homeUri}">
          ...
        </a>
      </div>
    </div>

    <div th:unless="${formType != 'view'}" class="d-flex justify-content-center">

      <!--============Only Viewing===================-->

      <a class="btn btn-info m-2 w-100" th:href="${homeUri}" th:text="#{button.back}">...</a>

      <a class="btn btn-info m-2 w-100"
         th:href="@{${linkAction + result.id}}"
         th:text="#{${'button.' + name + '.submit.' + formType}}">...
      </a>
    </div>
  </div>
</div>

</body>
</html>
